/* Snapblocks Button styles  */
/* dependencies */
/* - colors */
/* - layout */
button {
  background: none;
  border: 1px solid var(--color-button-background);
  line-height: var(--layout-vspace-m);
  padding: 0 var(--layout-space-s);
  background: var(--color-button-background);
  color: var(--color-button-text);
  border-radius: var(--layout-radius-s);
}
