/* Snapblocks CSS styles for control elements */
:root {
  /* borders */
  --controls-border: 1px solid var(--color-border);
  --controls-border-focus: 1px solid blue;
}
/* Snapblocks form elements styles */
input {
  box-sizing: border-box;
  outline: none;
}
/* https://css-tricks.com/keyboard-only-focus-styles/ */
/* https://css-tricks.com/almanac/selectors/f/focus/ */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
input:focus {
  outline: var(--controls-border-focus);
  border-radius: var(--layout-radius-s);
}/* Remove outline for non-keyboard :focus */
/* checkboxes */
/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* https://css-tricks.com/almanac/selectors/c/checked/ */
input[type=checkbox] {
  height: var(--layout-height-m);
  width: var(--layout-height-m);
  outline-offset: -1px;
  vertical-align: middle;
}
/* native color picker */
/* https://stackoverflow.com/questions/11167281/webkit-css-to-control-the-box-around-the-color-in-an-inputtype-color */
input[type=color] {
  height: var(--layout-height-s);
  margin: calc((44px - var(--layout-height-s))/2) 0;
  padding: 0;
  border: 0;
}
input[type=color]::-webkit-color-swatch-wrapper {
  background: var(--color-background);
  padding: var(--layout-space-xxxxs);
  border: var(--controls-border);
  border-radius: var(--layout-radius-s);
}
input[type="color"]::-webkit-color-swatch {
	border: var(--controls-border);
  border-radius: calc(var(--layout-radius-s)/2);
}
/* date */
/* https://stackoverflow.com/questions/14946091/are-there-any-style-options-for-the-html5-date-picker */
input[type=date] {

}
/* input text */
input[list],
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  line-height: var(--layout-height-m);
  padding: 0 var(--layout-space-s);
  font-size: var(--font-size-s);
  border: var(--controls-border);
  border-radius: var(--layout-radius-s);
}
/* file upload */
/* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
/* https://css-tricks.com/snippets/css/custom-file-input-styling-webkitblink/ */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file */
input[type=file] {
  line-height: var(--layout-height-m);
  text-align: center;
}
input[type=file]::-webkit-file-upload-button {
  
}
/* hidden */
input[type=hidden] {

}
/* image */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/image */
input[type=image] {

}
/* radio buttons */
input[type=radio] {

}
/* label for input fields */
label {
  vertical-align: middle;
}


/* Snapblocks Button styles  */
button,
input[type=button],
input[type=submit],
input[type=reset],
input[type=file]::-webkit-file-upload-button {
  background: none;
  border: 1px solid var(--color-button-background);
  line-height: var(--layout-height-m);
  padding: 0 var(--layout-space-s);
  background: var(--color-button-background);
  color: var(--color-button-text);
  border-radius: var(--layout-radius-s);
}
