/* Snapblocks CSS styles for control elements */

/* Snapblocks Button styles  */
button {
  background: none;
  border: 1px solid var(--color-button-background);
  line-height: var(--layout-height-m);
  padding: 0 var(--layout-space-s);
  background: var(--color-button-background);
  color: var(--color-button-text);
  border-radius: var(--layout-radius-s);
}


/* Snapblocks form elements styles */
input {
  box-sizing: border-box;
}
/* checkboxes */
input[type=checkbox] {

}
/* native color picker */
input[type=color] {

}
/* input text */
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  line-height: var(--layout-height-m);
  padding: 0 var(--layout-space-s);
  font-size: var(--font-size-s);
  border: 1px solid var(--color-border);
  border-radius: var(--layout-radius-s);
}
/* file upload */
input[type=file] {
  width: 100%;
  padding: 0 var(--layout-space-s);
  border: 1px dotted var(--color-border);
  line-height: var(--layout-height-m);
  text-align: center;
}
input[type=file]::-webkit-file-upload-button{
  border: 0;
}
/* hidden */
input[type=hidden] {

}
/* image */
input[type=image] {

}
/* radio buttons */
input[type=radio] {

}
